:root {
  --color-bg-header: #6a4731;
  --color-bg: rgba(255, 255, 255, 0.8);
  --color-text: #ede0cf;
  --color-icon: #e0c0a9;
  --color-bg-menu: rgba(0, 0, 0, 0.5);
}

body {
  font-family: "Roboto", sans-serif;
}
